.comment_ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: min-content;
  list-style: none;
}

.comment_li {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.01em;
}

.container {
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
}

li {
  padding: 0.1em;
  margin-top: 5px;
}

summary {
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.02em;
}